<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GefTip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A9AEFD41BDD9646005A3ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A9AEFE81BDD9646005A3ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A9AEFF31BDD9647005A3ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
